<footer>
    <div class="footer-main">
        <div class="heading">
            <div class="title">
                Codial Development
            </div>
            <div class="para">
                <p>All Rights Reserved</p>
                <p>15-06-2022</p>
            </div>
        </div>
    </div>
</footer>