<div class="main-container">
  <div class="title">
    <h2>Codial</h2>
  </div>
  <div class="links">
    <ul>
      <% if(locals.user){%>
      <li><%= user.name %></li>
      <li>
        <a href="/user/sign-out">Sign out</a>
      </li>
      <%}else{%>

      <li>
        <a href="/user/signIn">Sign in</a>
      </li>
      <li>
        <a href="/user/signup">Sign up</a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
