<form action="/user/create" method="post">
    <input type="name" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your Password" required>
    <input type="password" name="confirm_password" placeholder="Your Confirm Password" required>
    <input type="submit">
</form>